body {
  font-family: $proxima-nova;
  font-size: 12pt;
  color: $color-dark;
}

h1, h2, h3 {
  font-family: $neosans-light;
  color: $color-blue;
  font-weight: 400;

  margin: 0;
  padding: 0;
}

h1 {
  font-size: 75px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 25px;
}

.blockquote {
  font-size: 20px;
  font-style: italic;
  color: $color-blue;
  p {
    font-family: $neosans-light-italic;
    font-size: 35px;
    &:before {
      content: open-quote;
    }

    &:after {
      content: close-quote;
    }
  }
}

.clearfix {
  &:before {
    display: table;
    content: " ";
  }

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

/*Header Footer*/
.logo-menu {
  margin: 40px auto 60px;
  display: block;
}

.top-bar {
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 50px;
  background-color: rgba(9, 27, 33, 0.8);
  transition: background-color 1.5s ease-in-out;

  img {
    margin-top: 5px;
  }

  @media screen and (max-width: 767px) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.no-bg-opacity {
  background-color: rgba(9, 27, 33, 1);
}

footer {
  //padding-top: 30px;
  background: url('../img/bg-footer.png') no-repeat center center;
  background-size: cover;
  color: $color-light;
  overflow: hidden;

  .row {
    padding: 75px 0 65px;
  }

  .logo {
    margin-bottom: 25px;
  }

  .footer-col {
    //margin-top: 40px;
    @media screen and (max-width: 767px) {
      text-align: center;
      margin-bottom: 20px;
      &:last-child {
        margin-bottom: 0;
      }
    }

  }

  .footer-menu {
    .heading {
      margin-bottom: 25px;
    }

    .epoch-list {
      display: inline-block;
      li:after {
        background: rgba(255, 255, 255, 0.08);
      }
    }

  }

  .contact-info {
    .info-widget {
      margin-bottom: 25px;
      
      .info-heading {
        margin-top: 0;
        font-family: NeoSansStd-Light;
        font-size: 16pt;
        color: $color-blue;
      }
      
      > p {
        margin-left: 30px;
        @media screen and (max-width: 767px) {
          margin-left: 0;
        }
      }

      a {
        color: $color-light;
      }
      
      &:last-child {
        margin-bottom: 0;
      }
    }
    
    .footicon {
      background: url('../img/sprite-footer.png') no-repeat;
      display: inline-block;
      height: 15px;
      width: 20px;

      &.envelope {
        background-position: 0px 0px;

      }

      &.chat {
        background-position: 0px -18px;
      }

      &.phone {
        background-position: 0px -38px;
        height: 16px;
      }
    }
    
  }

  hr {
    margin-top: 0;
    margin-bottom: 0;
  }

  .copy {
    margin-bottom: 0;
    padding: 30px 0 35px;
    font-size: 13px;
    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }
}