
.page-work-us {
  
  .desc-wrapper {
    padding-top: 100px;
    padding-bottom: 70px;

    @media screen and (max-width: 767px) {
      padding-top: 50px;
      padding-bottom: 20px;
    }

    .title {
      margin-bottom: 40px;
    }

    p {
      margin-bottom: 30px;
    }

    .blockquote {
        p {
          font-size: 24px
        }
    }

  }
  
}

.work-us-highlight {
  .row {
    background-color: #F9FAF9;
    position: relative;

    > [class*='col-'] {
      padding-left: 0;
      padding-right: 0;
    }

    .img-wrapper {
      &.img-elem {
        @media screen and (min-width: 767px) {
          display: none ;
        }
      }

      &.img-bg {
        background-position: center center;
        background-size: cover;
        position: absolute;
        height: 100%;
        @media screen and (max-width: 767px) {
          display: none ;
        }

      }
    }

    .desc-wrapper {
      float: right;
      padding-left: 60px;
      padding-right: 10vw;
      .blockquote {
        font-style: normal;
      }

      @media screen and (max-width: 767px) {
        padding-left: 15px;
        padding-right: 15px;
      }
    }

    &.row-reversed {
      @media screen and (min-width: 767px) {
        .img-wrapper.col-sm-6 {
          left: 50%;
        }
        .desc-wrapper.col-sm-6 {
          right: 50%;
        }

        .desc-wrapper {
          padding-left: 10vw;
          padding-right: 60px;
        }
      }
    }

  }
}

.work-us-jobs {
  background: url("../img/work-us/bg-jobs-2.png") no-repeat top center;
  background-size: 100% auto;

  .container {
    padding-top: 100px;
    padding-bottom: 40px;

    @media screen and (max-width: 767px) {
      padding-top: 50px;
      padding-bottom: 20px;
    }

  }
}

.job-item {
  margin-top: 60px;
  margin-bottom: 60px;

  .title {
    margin-bottom: 0;
    color: $color-blue;
    font-size: 20px;
  }

  .job-desc-wrapper {
    margin-top: 30px;

    .job-desc {
      padding-top: 15px;
    }

  }
}

