/* Off-canvas menu */
html,
body,
//.container,
.content-wrap {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.menu-wrap a {
    color: $color-dark;

    &:hover,
    &:focus {
        color: $color-blue;
    }
}

.content-wrap {
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
}

.content {
    position: relative;
    background: #b4bad2;
}

.content::before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    content: '';
    opacity: 0;
    -webkit-transform: translate3d(100%,0,0);
    transform: translate3d(100%,0,0);
    -webkit-transition: opacity 0.4s, -webkit-transform 0s 0.4s;
    transition: opacity 0.4s, transform 0s 0.4s;
    -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

/* Menu Button */
.menu-button {
    color: $color-light;
    font-size: 35px;
    cursor: pointer;

    &:hover {
        color: $color-blue;
    }
}
// .menu-button {
//     position: fixed;
//     z-index: 1000;
//     margin: 1em;
//     padding: 0;
//     width: 2.5em;
//     height: 2.25em;
//     border: none;
//     text-indent: 2.5em;
//     //font-size: 1.5em;
//     color: transparent;
//     background: transparent;

//     &:before {
//         position: absolute;
//         top: 0.5em;
//         right: 0.5em;
//         bottom: 0.5em;
//         left: 0.5em;
//         background: linear-gradient($color-light 20%, transparent 20%, transparent 40%, $color-light 40%, $color-light 60%, transparent 60%, transparent 80%, $color-light 80%);
//         content: '';
//     }

//     &:hover {
//         opacity: 0.6;
//     }
// }


/* Close Button */
/*
.close-button {
    width: 1em;
    height: 1em;
    position: absolute;
    right: 1em;
    top: 1em;
    overflow: hidden;
    text-indent: 1em;
    font-size: 0.75em;
    border: none;
    background: transparent;
    color: transparent;

    &:before,
    &:after {
        content: '';
        position: absolute;
        width: 3px;
        height: 100%;
        top: 0;
        left: 50%;
        background: #bdc3c7;
    }

    &:before {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    &:after {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}
*/

/* Menu */
.menu-wrap {
    position: absolute;
    z-index: 1001;
    width: 246px;
    height: 100%;
    background: url('../img/bg-menu.png') no-repeat;
    font-size: 13px;
    transform: translate3d(-320px,0,0);
    transition: transform 0.4s;
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);

    .social-link {
        width: 100%;
        position: absolute;
        bottom: 50px;
        text-align: center;

        @media screen and (max-width: 480px) {
          bottom: 10px;
        }
    }
}

.menu,
.menu-list {
    height: 75%;
}

.menu-list {
    transform: translate3d(0,100%,0);

    a {
        display: block;
        padding: 12px;
        border-bottom: 1px solid #ccc;
        transform: translate3d(0,500px,0);
        text-align: center;
        text-decoration: none;
    }
}

.menu-list,
.menu-list a {
    transition: transform 0s 0.4s;
    transition-timing-function: cubic-bezier(0.7,0,0.3,1);
}

.menu-list a:nth-child(2) {
    transform: translate3d(0,1000px,0);
}

.menu-list a:nth-child(3) {
    transform: translate3d(0,1500px,0);
}

.menu-list a:nth-child(4) {
    transform: translate3d(0,2000px,0);
}

.menu-list a:nth-child(5) {
    transform: translate3d(0,2500px,0);
}

.menu-list a:nth-child(6) {
    transform: translate3d(0,3000px,0);
}

.menu-list a span {
    margin-left: 10px;
    font-weight: 700;
}

/* Shown menu */
.show-menu  {
    .menu-wrap {
        transform: translate3d(0,0,0);
        transition: transform 0.5s;
        transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    }

    .menu-list,
    .menu-list a {
        transform: translate3d(0,0,0);
        transition: transform 0.8s;
        transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    }

    .menu-list a {
        transition-duration: 0.9s;
    }

    .content::before {
        opacity: 1;
        transition: opacity 0.8s;
        transition-timing-function: cubic-bezier(0.7,0,0.3,1);
        transform: translate3d(0,0,0);
    }
}
