/* Common */
.page-intro {
  display: table;
  width: 100%;
  table-layout: fixed;
  color: $color-light;
  min-height: 700px;

  .section-title {
    display: table-cell;
    vertical-align: middle;
    text-align: center;

    p {
      margin: 40px 0;
    }
  }

  .title {
    font-size: 60px;
    text-transform: uppercase;
    color: $color-light;

    @media screen and (max-width: 767px) {
      font-size: 50px;
    }
  }

}

.epoch-list {
  padding-left: 0;
  li {
    position: relative;
    margin-bottom: 20px;
    margin-left: 0;
    padding-left: 50px;
    list-style: none;
    background: url('../img/list-style.png') no-repeat 15px;

    &:after {
      content: "";
      width: 70px;
      height: 1px;
      overflow: hidden;
      background: rgba(0, 0, 0, .08);
      position: absolute;
      left: 0;
      bottom: -11px;
    }

    &:last-child:after {
      display: none;
    }
  }
}

hr.full-width {
  width: 200%;
  margin-left: -50%;
  //border-top: 1px solid #ED1717;
}

.extend-text {
  font-size: 20px;
  color: $color-light-darker-2;
  padding-top: 30px;
  a {
    color: $color-light-darker-2;
    text-decoration: underline;
  }
}

.section-container {
  .title {
    text-transform: uppercase;
  }
}

.social-link {
  a.linkedin {
    background: url("../img/social-linkedin.png");
    width: 52px;
    height: 45px;
    display: inline-block;
    transition: background 0.3s ease-in-out;
    &:hover {
      background: url("../img/social-linkedin-hover.png");
    }

    &.white {
      background: url("../img/social-linkedin-white.png");
      &:hover {
        background: url("../img/social-linkedin-white-hover.png");
      }
    }
  }
}

@import 'module-offcanvas';
@import "module-home";
@import "module-team";
@import "module-work";
@import "module-contact";