.home-intro {
  display: table;
  width: 100%;
  position: relative;

  .intro-message {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background: url("../img/bg-hex.png") no-repeat center center;
    h1 {
      text-transform: uppercase;
      margin-bottom: 40px;
      @media screen and (max-width: 767px) {
        font-size: 50px;
      }
    }
    p {
      font-size: 22px;
    }
    
    @media screen and (max-width: 480px) {
      padding-top: 85px;
      padding-bottom: 75px;
    }
  }

  .bg-video {
    video {
      position: fixed;
      bottom: 0px;
      right: 0px;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: -99;
      overflow: hidden;
    }
  }

  @media screen and (max-width: 767px) {
    background: url('../img/origin/Home.jpg') no-repeat center center;
    background-size: cover;

    video {
      display: none;
    }
  }

}

.home-about {
  padding: 80px 0;
  background: url('../img/home/bg-about-us.png') no-repeat center center;
  background-size: cover;

  .title {
    margin-bottom: 65px;
    text-align: center;
  }

  .block-text {

    .block-title {
      margin-bottom: 25px;
      font-size: 25px;
    }

    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }
}

.home-quote {
  position: relative;
  background: url('../img/origin/Clock.jpg') no-repeat top center;
  background-size: cover;
  height: 60vh;
  display: table;
  width: 100%;

  //Parallax on desktop only
  @media screen and (min-width: 1200px) {
    background-attachment: fixed;
  }

  .quote-message {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: $color-light;

    @media screen and (max-width: 480px) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }

  .blockquote {
    color: $color-light;

    .author {
      &:before {
        content: '\2014 \00A0';
      }
    }
  }
}

.home-skill {
  padding: 80px 0;
  background: url('../img/home/bg-skill.png') repeat;
  color: $color-light;

  .title, .block-title {
    color: $color-light;
  }

  .section-title {
    text-align: center;

    .title {
      margin-bottom: 20px;
    }

    .divider {
      margin-top: 20px;
      margin-bottom: 50px;
    }
  }

  .block-icon {
    //margin-bottom: 50px;
    .icon-top {
      margin-bottom: 40px;
      text-align: center;
      min-height: 58px;
    }
    .block-title {
      margin-bottom: 20px;
      text-align: center;
    }

    > p {
      line-height: 25px;
      font-size: 15px;
      text-align: center;
      margin-bottom: 0;
    }

    @media screen and (max-width: 767px) {
      margin-bottom: 50px;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.home-slider {
  position: relative;
  .bx-wrapper {
    margin-bottom: 0;
    .bx-viewport {
      border: none;
      left: 0;
    }
  }

  .epoch-control {
    position: absolute;
    color: $color-light;
    top: 40%;
    left: 50px;
    background-color: $color-dark-lighter-1;
    padding: 0 5px;
    text-align: center;
    border-radius: 5px;

    .epoch-next,
    .epoch-prev,
    .epoch-pager {
      display: block;
      width: 40px;
    }

    .epoch-control-btn {
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .epoch-pager {
      margin-top: 15px;
      margin-bottom: 15px;
    }

    .bx-pager {
      font-size: 13px;
    }

    @media screen and (max-width: 767px) {
      top: 20px;
      left: 20px;
    }
  }

  .slide-item {
    .img-wrapper {
      > img {
        margin: 0 auto;
      }
    }
    .desc-wrapper {
      padding: 55px 10vw 0 30px;

      .desc {
        padding-top: 50px;
        padding-right: 5px;
      }

      .slide-divider {
        margin: 0 auto 20px;
      }

      @media screen and (max-width: 767px) {
        padding-bottom: 30px;
      }
    }
  }
}