.team-intro {
  background: url('../img/origin/Home.jpg') no-repeat center center;
  background-size: cover;
}

.page-team {
  padding: 95px 0 15px;
  background: url('../img/team/bg-team.png') no-repeat center top;
  background-size: cover;

  @media screen and (max-width: 767px) {
    padding-top: 50px;
  }
}

.team-member {
  margin-bottom: 80px;
  @media screen and (max-width: 767px) {
    margin-bottom: 50px;
  }

  .img-wrapper {
    > img {
      display: block;
      margin: 0 auto;
      padding: 5px;
      max-width: 100%;
      height: auto;
      background-color: $color-img-frame;
    }

    @media screen and (max-width: 767px) {
      margin-bottom: 30px;
    }
  }

  .intro-mem {
    font-size: 13px;

    .subtitle {
      margin-top: 10px;
      margin-bottom: 0;
    }

    hr {
      width: 40%;
      margin-left: 0;
      margin-top: 15px;
      margin-bottom: 20px;
    }
  }
}