.contact-intro {
  background: url('../img/origin/Home.jpg') no-repeat center center;
  background-size: cover;
}

.contact-detail {

  .list-detail {
    @extend .clearfix;
    margin: 28px auto;
    @media screen and (min-width: 1200px) {
      width: 80%;
    }
    @media screen and (max-width: 994px) {
      width: 100%;
    }
  }

  .contact-item {
    @extend .clearfix;
    float: left;

    .item-icon {
      float: left;
      /*font-size: 50px;
      line-height: 85px;
      height: 80px;
      width: 80px;
      text-align: center;
      color: $color-blue;*/
      margin-top: 15px;
    }

    .item-desc {
      margin-left: 60px;
      //padding-top: 15px;

      @media screen and (max-width: 1200px) {
        word-break: break-all;
      }

      h4 {
        margin: 0 0 15px 0;
        color: $color-blue;
        font-size: 15px;
        font-family: 'NeoSansStd-Regular', serif;
      }
      p {
        //padding-left: 20px;
        font-size: 20px;
      }
    }

    @media screen and (min-width: 767px) {
      margin-left: 70px;
    }

    @media screen and (max-width: 767px) {
      margin-bottom: 15px;
    }

  }

  @media screen and (min-width: 1200px) {
    background: url('../img/contact/bg-contact-info.png') repeat-x;
  }
}

.contact-map {
  position: relative;

  .google-map-contact-wrapper {
    width: 1140px;
    height: 1px;
    margin-left: -900px;
    z-index: 10;
    position: absolute;
    left: 50%;
    top: 0;

    .get-in-touch {
      position: relative;
      width: 260px;
      padding: 25px;
      float: right;
      background-color: $color-blue;
      color: $color-light;

      &:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: -30px;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 30px 30px 0 0;
        border-color: transparent transparent transparent transparent;
        border-top-color: $color-blue;
      }

      h3 {
        color: $color-light;
      }

      @media screen and (max-width: 767px) {
        text-align: center;
      }

    }

    .get-in-touch-wrapper {
      position: relative;
      padding: 13px 0 13px 50px;
      //word-wrap: break-word;
      .icon {
        position: absolute;
        left: 0;
        top: 13px;
        display: block;
        color: rgba(0,0,0,.7);
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 23px;
        text-align: center;
        color: $color-light;

        @media screen and (max-width: 767px) {
          display: inline;
          text-align: center;
          left: inherit;
          top: inherit;
          position: inherit;
        }
      }

      @media screen and (max-width: 767px) {
        padding: 0;
      }
    }

    @media only screen and (max-width: 1239px) and (min-width: 960px) {
      width: 921px;
      margin-left: -660px;
    }

    @media only screen and (max-width: 959px) and (min-width: 768px) {
      width: 694px;
      margin-left: -430px;
    }

    @media screen and (max-width: 767px) {
      position: static;
      margin: 0;
      width: 100%;height: auto;

      .get-in-touch {
        float: none;
        width: 100%;
      }
    }
  }

}

.contact-form {
  background: url("../img/contact/bg-contact-form.png") no-repeat top center;
  background-size: 100% auto;
  
  .form-container {
    padding-top: 90px;
    padding-bottom: 90px;

    @media screen and (min-width: 1200px) {
      /*margin-left: 90px;
      margin-right: 90px*/;
    }

    @media screen and (max-width: 767px) {
      padding-top: 50px;
      padding-bottom: 50px;
    }
  }

  .form-intro {
    text-align: right;
    h3 {
      margin-bottom: 10px;
    }
    .social-link {
      margin-top: 10px;
    }
    @media screen and (max-width: 767px) {
      text-align: center;
    }
  }

  .form-inputs {
    label {
      font-weight: normal;
    }
    input, textarea {
      padding: 10px 10px;
      outline: none;
      font-size: 13px;
      border-radius: 0;
    }
    .btn-epoch {
      background-color: $color-blue;
      color: $color-light;
    }
  }
}