@import url("//hello.myfonts.net/count/2cc275");

@font-face {font-family: 'NeoSansStd-Regular';src: url('../webfonts/2CC275_0_0.eot');src: url('../webfonts/2CC275_0_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/2CC275_0_0.woff2') format('woff2'),url('../webfonts/2CC275_0_0.woff') format('woff'),url('../webfonts/2CC275_0_0.ttf') format('truetype');}
@font-face {font-family: 'NeoSansStd-Light';src: url('../webfonts/2CC275_1_0.eot');src: url('../webfonts/2CC275_1_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/2CC275_1_0.woff2') format('woff2'),url('../webfonts/2CC275_1_0.woff') format('woff'),url('../webfonts/2CC275_1_0.ttf') format('truetype');}
@font-face {font-family: 'NeoSansStd-LightItalic';src: url('../webfonts/2CC275_2_0.eot');src: url('../webfonts/2CC275_2_0.eot?#iefix') format('embedded-opentype'),url('../webfonts/2CC275_2_0.woff2') format('woff2'),url('../webfonts/2CC275_2_0.woff') format('woff'),url('../webfonts/2CC275_2_0.ttf') format('truetype');}
@font-face {
  font-family: 'ProximaNova';
  src: url('../webfonts/proximanova-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('../webfonts/proximanova-light-webfont.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: 'ProximaNova';
  src: url('../webfonts/proximanova-bold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

// Font Variables
$neosans-regular: 'NeoSansStd-Regular', serif;
$neosans-light: 'NeoSansStd-Light', serif;
$neosans-light-italic: 'NeoSansStd-LightItalic', serif;
$proxima-nova: 'ProximaNova', sans-serif;

// Color variables
$color-dark: #091B21;
$color-dark-lighter-1: #2E444E;
$color-dark-lighter-2: #4D5D57;
$color-light-darker-1: #b8c9d2;
$color-light-darker-2: #859EAA;
$color-light: #fff;
$color-blue: #00adef;
$color-pink: #e90c8b;
$color-orange: #faa619;
$color-img-frame: #f8f8f8;

