@import url("//hello.myfonts.net/count/2cc275");
@font-face {
  font-family: 'NeoSansStd-Regular';
  src: url('../webfonts/2CC275_0_0.eot');
  src: url('../webfonts/2CC275_0_0.eot?#iefix') format('embedded-opentype'), url('../webfonts/2CC275_0_0.woff2') format('woff2'), url('../webfonts/2CC275_0_0.woff') format('woff'), url('../webfonts/2CC275_0_0.ttf') format('truetype'); }

@font-face {
  font-family: 'NeoSansStd-Light';
  src: url('../webfonts/2CC275_1_0.eot');
  src: url('../webfonts/2CC275_1_0.eot?#iefix') format('embedded-opentype'), url('../webfonts/2CC275_1_0.woff2') format('woff2'), url('../webfonts/2CC275_1_0.woff') format('woff'), url('../webfonts/2CC275_1_0.ttf') format('truetype'); }

@font-face {
  font-family: 'NeoSansStd-LightItalic';
  src: url('../webfonts/2CC275_2_0.eot');
  src: url('../webfonts/2CC275_2_0.eot?#iefix') format('embedded-opentype'), url('../webfonts/2CC275_2_0.woff2') format('woff2'), url('../webfonts/2CC275_2_0.woff') format('woff'), url('../webfonts/2CC275_2_0.ttf') format('truetype'); }

@font-face {
  font-family: 'ProximaNova';
  src: url('../webfonts/proximanova-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova';
  src: url('../webfonts/proximanova-light-webfont.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal; }

@font-face {
  font-family: 'ProximaNova';
  src: url('../webfonts/proximanova-bold-webfont.ttf') format('truetype');
  font-weight: bold;
  font-style: normal; }

body {
  font-family: 'ProximaNova', sans-serif;
  font-size: 12pt;
  color: #091B21; }

h1, h2, h3 {
  font-family: 'NeoSansStd-Light', serif;
  color: #00adef;
  font-weight: 400;
  margin: 0;
  padding: 0; }

h1 {
  font-size: 75px; }

h2 {
  font-size: 35px; }

h3 {
  font-size: 25px; }

.blockquote {
  font-size: 20px;
  font-style: italic;
  color: #00adef; }
  .blockquote p {
    font-family: 'NeoSansStd-LightItalic', serif;
    font-size: 35px; }
    .blockquote p:before {
      content: open-quote; }
    .blockquote p:after {
      content: close-quote; }

.clearfix:before, .contact-detail .list-detail:before, .contact-detail .contact-item:before {
  display: table;
  content: " "; }
.clearfix:after, .contact-detail .list-detail:after, .contact-detail .contact-item:after {
  content: "";
  display: table;
  clear: both; }

/*Header Footer*/
.logo-menu {
  margin: 40px auto 60px;
  display: block; }

.top-bar {
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
  padding: 20px 50px;
  background-color: rgba(9, 27, 33, 0.8);
  -webkit-transition: background-color 1.5s ease-in-out;
  transition: background-color 1.5s ease-in-out; }
  .top-bar img {
    margin-top: 5px; }
  @media screen and (max-width: 767px) {
    .top-bar {
      padding-left: 15px;
      padding-right: 15px; } }

.no-bg-opacity {
  background-color: #091b21; }

footer {
  background: url('../img/bg-footer.png') no-repeat center center;
  background-size: cover;
  color: #fff;
  overflow: hidden; }
  footer .row {
    padding: 75px 0 65px; }
  footer .logo {
    margin-bottom: 25px; }
  @media screen and (max-width: 767px) {
    footer .footer-col {
      text-align: center;
      margin-bottom: 20px; }
      footer .footer-col:last-child {
        margin-bottom: 0; } }
  footer .footer-menu .heading {
    margin-bottom: 25px; }
  footer .footer-menu .epoch-list {
    display: inline-block; }
    footer .footer-menu .epoch-list li:after {
      background: rgba(255, 255, 255, 0.08); }
  footer .contact-info .info-widget {
    margin-bottom: 25px; }
    footer .contact-info .info-widget .info-heading {
      margin-top: 0;
      font-family: NeoSansStd-Light;
      font-size: 16pt;
      color: #00adef; }
    footer .contact-info .info-widget > p {
      margin-left: 30px; }
      @media screen and (max-width: 767px) {
        footer .contact-info .info-widget > p {
          margin-left: 0; } }
    footer .contact-info .info-widget a {
      color: #fff; }
    footer .contact-info .info-widget:last-child {
      margin-bottom: 0; }
  footer .contact-info .footicon {
    background: url('../img/sprite-footer.png') no-repeat;
    display: inline-block;
    height: 15px;
    width: 20px; }
    footer .contact-info .footicon.envelope {
      background-position: 0px 0px; }
    footer .contact-info .footicon.chat {
      background-position: 0px -18px; }
    footer .contact-info .footicon.phone {
      background-position: 0px -38px;
      height: 16px; }
  footer hr {
    margin-top: 0;
    margin-bottom: 0; }
  footer .copy {
    margin-bottom: 0;
    padding: 30px 0 35px;
    font-size: 13px; }
    @media screen and (max-width: 767px) {
      footer .copy {
        text-align: center; } }

/* Common */
.page-intro {
  display: table;
  width: 100%;
  table-layout: fixed;
  color: #fff;
  min-height: 700px; }
  .page-intro .section-title {
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
    .page-intro .section-title p {
      margin: 40px 0; }
  .page-intro .title {
    font-size: 60px;
    text-transform: uppercase;
    color: #fff; }
    @media screen and (max-width: 767px) {
      .page-intro .title {
        font-size: 50px; } }

.epoch-list {
  padding-left: 0; }
  .epoch-list li {
    position: relative;
    margin-bottom: 20px;
    margin-left: 0;
    padding-left: 50px;
    list-style: none;
    background: url('../img/list-style.png') no-repeat 15px; }
    .epoch-list li:after {
      content: "";
      width: 70px;
      height: 1px;
      overflow: hidden;
      background: rgba(0, 0, 0, 0.08);
      position: absolute;
      left: 0;
      bottom: -11px; }
    .epoch-list li:last-child:after {
      display: none; }

hr.full-width {
  width: 200%;
  margin-left: -50%; }

.extend-text {
  font-size: 20px;
  color: #859EAA;
  padding-top: 30px; }
  .extend-text a {
    color: #859EAA;
    text-decoration: underline; }

.section-container .title {
  text-transform: uppercase; }

.social-link a.linkedin {
  background: url("../img/social-linkedin.png");
  width: 52px;
  height: 45px;
  display: inline-block;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out; }
  .social-link a.linkedin:hover {
    background: url("../img/social-linkedin-hover.png"); }
  .social-link a.linkedin.white {
    background: url("../img/social-linkedin-white.png"); }
    .social-link a.linkedin.white:hover {
      background: url("../img/social-linkedin-white-hover.png"); }

/* Off-canvas menu */
html, body, .content-wrap {
  overflow: hidden;
  width: 100%;
  height: 100%; }

.menu-wrap a {
  color: #091B21; }
  .menu-wrap a:hover, .menu-wrap a:focus {
    color: #00adef; }

.content-wrap {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }

.content {
  position: relative;
  background: #b4bad2; }

.content::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  content: '';
  opacity: 0;
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  -webkit-transition: opacity 0.4s, -webkit-transform 0s 0.4s;
  transition: opacity 0.4s, transform 0s 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }

/* Menu Button */
.menu-button {
  color: #fff;
  font-size: 35px;
  cursor: pointer; }
  .menu-button:hover {
    color: #00adef; }

/* Close Button */
/*
.close-button {
    width: 1em;
    height: 1em;
    position: absolute;
    right: 1em;
    top: 1em;
    overflow: hidden;
    text-indent: 1em;
    font-size: 0.75em;
    border: none;
    background: transparent;
    color: transparent;

    &:before,
    &:after {
        content: '';
        position: absolute;
        width: 3px;
        height: 100%;
        top: 0;
        left: 50%;
        background: #bdc3c7;
    }

    &:before {
        -webkit-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    &:after {
        -webkit-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}
*/
/* Menu */
.menu-wrap {
  position: absolute;
  z-index: 1001;
  width: 246px;
  height: 100%;
  background: url('../img/bg-menu.png') no-repeat;
  font-size: 13px;
  -webkit-transform: translate3d(-320px, 0, 0);
  transform: translate3d(-320px, 0, 0);
  -webkit-transition: -webkit-transform 0.4s;
  transition: transform 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }
  .menu-wrap .social-link {
    width: 100%;
    position: absolute;
    bottom: 50px;
    text-align: center; }
    @media screen and (max-width: 480px) {
      .menu-wrap .social-link {
        bottom: 10px; } }

.menu, .menu-list {
  height: 75%; }

.menu-list {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0); }
  .menu-list a {
    display: block;
    padding: 12px;
    border-bottom: 1px solid #ccc;
    -webkit-transform: translate3d(0, 500px, 0);
    transform: translate3d(0, 500px, 0);
    text-align: center;
    text-decoration: none; }

.menu-list, .menu-list a {
  -webkit-transition: -webkit-transform 0s 0.4s;
  transition: transform 0s 0.4s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }

.menu-list a:nth-child(2) {
  -webkit-transform: translate3d(0, 1000px, 0);
  transform: translate3d(0, 1000px, 0); }

.menu-list a:nth-child(3) {
  -webkit-transform: translate3d(0, 1500px, 0);
  transform: translate3d(0, 1500px, 0); }

.menu-list a:nth-child(4) {
  -webkit-transform: translate3d(0, 2000px, 0);
  transform: translate3d(0, 2000px, 0); }

.menu-list a:nth-child(5) {
  -webkit-transform: translate3d(0, 2500px, 0);
  transform: translate3d(0, 2500px, 0); }

.menu-list a:nth-child(6) {
  -webkit-transform: translate3d(0, 3000px, 0);
  transform: translate3d(0, 3000px, 0); }

.menu-list a span {
  margin-left: 10px;
  font-weight: 700; }

/* Shown menu */
.show-menu .menu-wrap {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }
.show-menu .menu-list, .show-menu .menu-list a {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform 0.8s;
  transition: transform 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1); }
.show-menu .menu-list a {
  -webkit-transition-duration: 0.9s;
  transition-duration: 0.9s; }
.show-menu .content::before {
  opacity: 1;
  -webkit-transition: opacity 0.8s;
  transition: opacity 0.8s;
  -webkit-transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  transition-timing-function: cubic-bezier(0.7, 0, 0.3, 1);
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }

.home-intro {
  display: table;
  width: 100%;
  position: relative; }
  .home-intro .intro-message {
    width: 100%;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    background: url("../img/bg-hex.png") no-repeat center center; }
    .home-intro .intro-message h1 {
      text-transform: uppercase;
      margin-bottom: 40px; }
      @media screen and (max-width: 767px) {
        .home-intro .intro-message h1 {
          font-size: 50px; } }
    .home-intro .intro-message p {
      font-size: 22px; }
    @media screen and (max-width: 480px) {
      .home-intro .intro-message {
        padding-top: 85px;
        padding-bottom: 75px; } }
  .home-intro .bg-video video {
    position: fixed;
    bottom: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -99;
    overflow: hidden; }
  @media screen and (max-width: 767px) {
    .home-intro {
      background: url('../img/origin/Home.jpg') no-repeat center center;
      background-size: cover; }
      .home-intro video {
        display: none; } }

.home-about {
  padding: 80px 0;
  background: url('../img/home/bg-about-us.png') no-repeat center center;
  background-size: cover; }
  .home-about .title {
    margin-bottom: 65px;
    text-align: center; }
  .home-about .block-text .block-title {
    margin-bottom: 25px;
    font-size: 25px; }
  @media screen and (max-width: 767px) {
    .home-about .block-text {
      text-align: center; } }

.home-quote {
  position: relative;
  background: url('../img/origin/Clock.jpg') no-repeat top center;
  background-size: cover;
  height: 60vh;
  display: table;
  width: 100%; }
  @media screen and (min-width: 1200px) {
    .home-quote {
      background-attachment: fixed; } }
  .home-quote .quote-message {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #fff; }
    @media screen and (max-width: 480px) {
      .home-quote .quote-message {
        padding-top: 50px;
        padding-bottom: 50px; } }
  .home-quote .blockquote {
    color: #fff; }
    .home-quote .blockquote .author:before {
      content: '\2014 \00A0'; }

.home-skill {
  padding: 80px 0;
  background: url('../img/home/bg-skill.png') repeat;
  color: #fff; }
  .home-skill .title, .home-skill .block-title {
    color: #fff; }
  .home-skill .section-title {
    text-align: center; }
    .home-skill .section-title .title {
      margin-bottom: 20px; }
    .home-skill .section-title .divider {
      margin-top: 20px;
      margin-bottom: 50px; }
  .home-skill .block-icon .icon-top {
    margin-bottom: 40px;
    text-align: center;
    min-height: 58px; }
  .home-skill .block-icon .block-title {
    margin-bottom: 20px;
    text-align: center; }
  .home-skill .block-icon > p {
    line-height: 25px;
    font-size: 15px;
    text-align: center;
    margin-bottom: 0; }
  @media screen and (max-width: 767px) {
    .home-skill .block-icon {
      margin-bottom: 50px; }
      .home-skill .block-icon:last-child {
        margin-bottom: 0; } }

.home-slider {
  position: relative; }
  .home-slider .bx-wrapper {
    margin-bottom: 0; }
    .home-slider .bx-wrapper .bx-viewport {
      border: none;
      left: 0; }
  .home-slider .epoch-control {
    position: absolute;
    color: #fff;
    top: 40%;
    left: 50px;
    background-color: #2E444E;
    padding: 0 5px;
    text-align: center;
    border-radius: 5px; }
    .home-slider .epoch-control .epoch-next, .home-slider .epoch-control .epoch-prev, .home-slider .epoch-control .epoch-pager {
      display: block;
      width: 40px; }
    .home-slider .epoch-control .epoch-control-btn {
      margin-top: 10px;
      margin-bottom: 10px; }
    .home-slider .epoch-control .epoch-pager {
      margin-top: 15px;
      margin-bottom: 15px; }
    .home-slider .epoch-control .bx-pager {
      font-size: 13px; }
    @media screen and (max-width: 767px) {
      .home-slider .epoch-control {
        top: 20px;
        left: 20px; } }
  .home-slider .slide-item .img-wrapper > img {
    margin: 0 auto; }
  .home-slider .slide-item .desc-wrapper {
    padding: 55px 10vw 0 30px; }
    .home-slider .slide-item .desc-wrapper .desc {
      padding-top: 50px;
      padding-right: 5px; }
    .home-slider .slide-item .desc-wrapper .slide-divider {
      margin: 0 auto 20px; }
    @media screen and (max-width: 767px) {
      .home-slider .slide-item .desc-wrapper {
        padding-bottom: 30px; } }

.team-intro {
  background: url('../img/origin/Home.jpg') no-repeat center center;
  background-size: cover; }

.page-team {
  padding: 95px 0 15px;
  background: url('../img/team/bg-team.png') no-repeat center top;
  background-size: cover; }
  @media screen and (max-width: 767px) {
    .page-team {
      padding-top: 50px; } }

.team-member {
  margin-bottom: 80px; }
  @media screen and (max-width: 767px) {
    .team-member {
      margin-bottom: 50px; } }
  .team-member .img-wrapper > img {
    display: block;
    margin: 0 auto;
    padding: 5px;
    max-width: 100%;
    height: auto;
    background-color: #f8f8f8; }
  @media screen and (max-width: 767px) {
    .team-member .img-wrapper {
      margin-bottom: 30px; } }
  .team-member .intro-mem {
    font-size: 13px; }
    .team-member .intro-mem .subtitle {
      margin-top: 10px;
      margin-bottom: 0; }
    .team-member .intro-mem hr {
      width: 40%;
      margin-left: 0;
      margin-top: 15px;
      margin-bottom: 20px; }

.page-work-us .desc-wrapper {
  padding-top: 100px;
  padding-bottom: 70px; }
  @media screen and (max-width: 767px) {
    .page-work-us .desc-wrapper {
      padding-top: 50px;
      padding-bottom: 20px; } }
  .page-work-us .desc-wrapper .title {
    margin-bottom: 40px; }
  .page-work-us .desc-wrapper p {
    margin-bottom: 30px; }
  .page-work-us .desc-wrapper .blockquote p {
    font-size: 24px; }

.work-us-highlight .row {
  background-color: #F9FAF9;
  position: relative; }
  .work-us-highlight .row > [class*='col-'] {
    padding-left: 0;
    padding-right: 0; }
  @media screen and (min-width: 767px) {
    .work-us-highlight .row .img-wrapper.img-elem {
      display: none; } }
  .work-us-highlight .row .img-wrapper.img-bg {
    background-position: center center;
    background-size: cover;
    position: absolute;
    height: 100%; }
    @media screen and (max-width: 767px) {
      .work-us-highlight .row .img-wrapper.img-bg {
        display: none; } }
  .work-us-highlight .row .desc-wrapper {
    float: right;
    padding-left: 60px;
    padding-right: 10vw; }
    .work-us-highlight .row .desc-wrapper .blockquote {
      font-style: normal; }
    @media screen and (max-width: 767px) {
      .work-us-highlight .row .desc-wrapper {
        padding-left: 15px;
        padding-right: 15px; } }
  @media screen and (min-width: 767px) {
    .work-us-highlight .row.row-reversed .img-wrapper.col-sm-6 {
      left: 50%; }
    .work-us-highlight .row.row-reversed .desc-wrapper.col-sm-6 {
      right: 50%; }
    .work-us-highlight .row.row-reversed .desc-wrapper {
      padding-left: 10vw;
      padding-right: 60px; } }

.work-us-jobs {
  background: url("../img/work-us/bg-jobs-2.png") no-repeat top center;
  background-size: 100% auto; }
  .work-us-jobs .container {
    padding-top: 100px;
    padding-bottom: 40px; }
    @media screen and (max-width: 767px) {
      .work-us-jobs .container {
        padding-top: 50px;
        padding-bottom: 20px; } }

.job-item {
  margin-top: 60px;
  margin-bottom: 60px; }
  .job-item .title {
    margin-bottom: 0;
    color: #00adef;
    font-size: 20px; }
  .job-item .job-desc-wrapper {
    margin-top: 30px; }
    .job-item .job-desc-wrapper .job-desc {
      padding-top: 15px; }

.contact-intro {
  background: url('../img/origin/Home.jpg') no-repeat center center;
  background-size: cover; }

.contact-detail .list-detail {
  margin: 28px auto; }
  @media screen and (min-width: 1200px) {
    .contact-detail .list-detail {
      width: 80%; } }
  @media screen and (max-width: 994px) {
    .contact-detail .list-detail {
      width: 100%; } }
.contact-detail .contact-item {
  float: left; }
  .contact-detail .contact-item .item-icon {
    float: left;
    /*font-size: 50px;
      line-height: 85px;
      height: 80px;
      width: 80px;
      text-align: center;
      color: $color-blue;*/
    margin-top: 15px; }
  .contact-detail .contact-item .item-desc {
    margin-left: 60px; }
    @media screen and (max-width: 1200px) {
      .contact-detail .contact-item .item-desc {
        word-break: break-all; } }
    .contact-detail .contact-item .item-desc h4 {
      margin: 0 0 15px 0;
      color: #00adef;
      font-size: 15px;
      font-family: 'NeoSansStd-Regular', serif; }
    .contact-detail .contact-item .item-desc p {
      font-size: 20px; }
  @media screen and (min-width: 767px) {
    .contact-detail .contact-item {
      margin-left: 70px; } }
  @media screen and (max-width: 767px) {
    .contact-detail .contact-item {
      margin-bottom: 15px; } }
@media screen and (min-width: 1200px) {
  .contact-detail {
    background: url('../img/contact/bg-contact-info.png') repeat-x; } }

.contact-map {
  position: relative; }
  .contact-map .google-map-contact-wrapper {
    width: 1140px;
    height: 1px;
    margin-left: -900px;
    z-index: 10;
    position: absolute;
    left: 50%;
    top: 0; }
    .contact-map .google-map-contact-wrapper .get-in-touch {
      position: relative;
      width: 260px;
      padding: 25px;
      float: right;
      background-color: #00adef;
      color: #fff; }
      .contact-map .google-map-contact-wrapper .get-in-touch:after {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        bottom: -30px;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 30px 30px 0 0;
        border-color: transparent transparent transparent transparent;
        border-top-color: #00adef; }
      .contact-map .google-map-contact-wrapper .get-in-touch h3 {
        color: #fff; }
      @media screen and (max-width: 767px) {
        .contact-map .google-map-contact-wrapper .get-in-touch {
          text-align: center; } }
    .contact-map .google-map-contact-wrapper .get-in-touch-wrapper {
      position: relative;
      padding: 13px 0 13px 50px; }
      .contact-map .google-map-contact-wrapper .get-in-touch-wrapper .icon {
        position: absolute;
        left: 0;
        top: 13px;
        display: block;
        color: rgba(0, 0, 0, 0.7);
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 23px;
        text-align: center;
        color: #fff; }
        @media screen and (max-width: 767px) {
          .contact-map .google-map-contact-wrapper .get-in-touch-wrapper .icon {
            display: inline;
            text-align: center;
            left: inherit;
            top: inherit;
            position: inherit; } }
      @media screen and (max-width: 767px) {
        .contact-map .google-map-contact-wrapper .get-in-touch-wrapper {
          padding: 0; } }
    @media only screen and (max-width: 1239px) and (min-width: 960px) {
      .contact-map .google-map-contact-wrapper {
        width: 921px;
        margin-left: -660px; } }
    @media only screen and (max-width: 959px) and (min-width: 768px) {
      .contact-map .google-map-contact-wrapper {
        width: 694px;
        margin-left: -430px; } }
    @media screen and (max-width: 767px) {
      .contact-map .google-map-contact-wrapper {
        position: static;
        margin: 0;
        width: 100%;
        height: auto; }
        .contact-map .google-map-contact-wrapper .get-in-touch {
          float: none;
          width: 100%; } }

.contact-form {
  background: url("../img/contact/bg-contact-form.png") no-repeat top center;
  background-size: 100% auto; }
  .contact-form .form-container {
    padding-top: 90px;
    padding-bottom: 90px; }
    @media screen and (min-width: 1200px) {
      .contact-form .form-container {
        /*margin-left: 90px;
      margin-right: 90px*/ } }
    @media screen and (max-width: 767px) {
      .contact-form .form-container {
        padding-top: 50px;
        padding-bottom: 50px; } }
  .contact-form .form-intro {
    text-align: right; }
    .contact-form .form-intro h3 {
      margin-bottom: 10px; }
    .contact-form .form-intro .social-link {
      margin-top: 10px; }
    @media screen and (max-width: 767px) {
      .contact-form .form-intro {
        text-align: center; } }
  .contact-form .form-inputs label {
    font-weight: normal; }
  .contact-form .form-inputs input, .contact-form .form-inputs textarea {
    padding: 10px 10px;
    outline: none;
    font-size: 13px;
    border-radius: 0; }
  .contact-form .form-inputs .btn-epoch {
    background-color: #00adef;
    color: #fff; }
/*# sourceMappingURL=style.css.map */